@keyframes move {
    0% {
        width: 100%;
    }
  
    100% {
        width: 0%;
    }
}

@keyframes move-text {
    0% {
        transform: translateX(100%);
    }
  
    100% {
        transform: translateX(0%);
    }
}

html {
    background-color: #1e1919;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #009688;
}

main {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 1024px;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.slides {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0%;
}

.slides__before {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.slide1,
.slide1__before {
    background-image: url("galery/1.gif");
}

.slide2,
.slide2__before {
    background-image: url("galery/2.gif");
}

.slide3,
.slide3__before {
    background-image: url("galery/3.gif");
}

.slide4,
.slide4__before {
    background-image: url("galery/4.gif");
}

.slide5,
.slide5__before {
    background-image: url("galery/5.gif");
}

input {
    display: none;
}

.controls {
    align-self: center;
}

label {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #009688;
    border: solid 15px #1e1919;
    display: inline-block;
}

label:hover {
    background-color: #ffffff;
}

#slide1:checked ~ div .controls label:nth-of-type(1),
#slide2:checked ~ div .controls label:nth-of-type(2),
#slide3:checked ~ div .controls label:nth-of-type(3),
#slide4:checked ~ div .controls label:nth-of-type(4),
#slide5:checked ~ div .controls label:nth-of-type(5) {
    background-color: #cf0a0a;
}

#slide1:checked ~ div .sub1,
#slide2:checked ~ div .sub2,
#slide3:checked ~ div .sub3,
#slide4:checked ~ div .sub4,
#slide5:checked ~ div .sub5 {
    display: block;
    animation: move-text 0.2s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    width: 100%;
    transition: 0.1s;
}

#slide1:checked ~ .slider > .slide5__before,
#slide2:checked ~ .slider > .slide1__before,
#slide3:checked ~ .slider > .slide2__before,
#slide4:checked ~ .slider > .slide3__before,
#slide5:checked ~ .slider > .slide4__before {
    display: block;
    animation: move 0.2s forwards;
}

.footer {
    display: flex;
    width: 1024px;
    justify-content: space-between;
}

.sub {
    color: #009688;
    font-size: 24px;
    display: none;
}




 
/* .slider__pag {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.slider__pag__li {
    width: 16px;
    height: 16px;
    background-color: #009688;
    border-radius: 25px;
    border: solid 15px #1e1919;
}

.slider__pag__li:hover {
    cursor: pointer;
}

.slider__pags__hover {
    background-color: #ffffff;
}

.slider__pags__active {
    background-color: #1e1919;
    box-shadow: inset 0px 0px 0px 2px #009688;
}

.slider__pags__active__hover {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
} */