:root {
    --img: url("galery/1.gif");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    background-image: var(--img);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1024px;
    height: 600px;
    border-radius: 15px;
}