html {
    background-color: #1e1919;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: #009688;
}

main {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 1024px;
    height: 600px;
    display: flex;
    justify-content: flex-end;
}

.slides {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: none; */
    width: 0%;
}

.slide1 {
    background-image: url("galery/1.gif");
}

.slide2 {
    background-image: url("galery/2.gif");
}

.slide3 {
    background-image: url("galery/3.gif");
}

.slide4 {
    background-image: url("galery/4.gif");
}

.slide5 {
    background-image: url("galery/5.gif");
}

input {
    display: none;
}

.controls {
    align-self: flex-end;
}

label {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #009688;
    border: solid 15px #1e1919;
    display: inline-block;
}

label:hover {
    background-color: #ffffff;
}

#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
    background-color: #cf0a0a;
}

#slide1:checked ~ .slider > div:nth-of-type(1),
#slide2:checked ~ .slider > div:nth-of-type(2),
#slide3:checked ~ .slider > div:nth-of-type(3),
#slide4:checked ~ .slider > div:nth-of-type(4),
#slide5:checked ~ .slider > div:nth-of-type(5) {
    /* display: block; */
    width: 100%;
    transition: 0.8s;
}

/* main {
    position: relative;
} */

/* footer {
    display: flex;
    width: 1024px;
    justify-content: space-between;
} */

.picture {
    background-image: var(--img);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1024px;
    height: 600px;
    border-radius: 15px;
    position: relative;
}

.picture__up {
    background-image: var(--img);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1024px;
    height: 600px;
    border-radius: 15px;
    position: absolute;
    top: 0;
}

.sub {
    color: #009688;
    font-size: 24px;
    position: relative;
}

.slider__pag {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.slider__pag__li {
    width: 16px;
    height: 16px;
    background-color: #009688;
    border-radius: 25px;
    border: solid 15px #1e1919;
}

.slider__pag__li:hover {
    cursor: pointer;
}

.slider__pags__hover {
    background-color: #ffffff;
}

.slider__pags__active {
    background-color: #1e1919;
    box-shadow: inset 0px 0px 0px 2px #009688;
}

.slider__pags__active__hover {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}